.root {
  margin: 0;
  padding: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  background: linear-gradient(to bottom, #444913 48px, white 48px);
}

.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  max-width: var(--max-screen-width);
  margin: 0 auto;
}

.page-small {
  max-width: 1680px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.min-full {
  min-height: 60vh;
}

.error {
  flex: 1;
  padding: 2rem;
  font-size: 2rem;
  line-height: 2.2rem;
}
.error > h2 {
  margin-bottom: 1rem;
}
.error > button {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #6d751d;
  color: #fcf4cb;
  text-align: center;
  cursor: pointer;
  margin-inline: auto;
}

.content {
  padding-left: 6px;
}

@media only screen and (max-width: 768px) {
  .page-small {
    margin: 1rem auto;
    padding: 0 0.25rem;
  }
}
