.base {
  --nav-header-height: 64px;
  --menu-bar-height: 96px;
  --b2b-nav-bar-height: 64px;
  --home-banner-image-size-max: 700px;
  --home-banner-image-size-min: 500px;
  --b2b-home-banner-size: 500px;
}
