.wrapper {
  display: flex;
  gap: 24px;
}

.carousal-wrapper {
  width: 500px;
  min-width: 500px;
  height: 500px;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.whatsapp-button {
  width: 100%;
  background-color: #26cc64;
  color: var(--white);
  border-radius: var(--border-radius-default);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  cursor: pointer;
}

.name {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.amount {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: var(--font-weight-semibold);
}

.listing {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  color: var(--textdisabled);
}

.description {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}
