.scaled-wrapper {
  transform: scale(0.6);
  transform-origin: top left;
}

.size-wrapper {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.size-wrapper-label {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  background-color: var(--primary050) !important;
  width: 480px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-label-color {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  background-color: var(--primary050);
  width: 240px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-inner-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.label-color {
  transform: rotate(-90deg) translate(50%, 50%);
  width: 120px;
}
