.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 0.5rem;
}

.top-offer {
  width: 100%;
  text-align: center;
  background-color: var(--secondarydark);
  padding: 0.5rem;
  color: var(--onsecondaryaccent);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}
